__pycache__/

.env
.vscode
chatbot_env

01-Native-Rag/chroma_db
01-Native-Rag/Chorma_db_example
02-Multimodal-Rag/chroma_db_multimodal_rag
02-Multimodal-Rag/content

data/LSVN.csv
data/Huyết khối tĩnh mạch não.pdf
chroma_db_evaluation
TinyLlama-1.1B-Chat-v1.0

chatbot-v3.ipynb
evaluate.ipynb
extract_table.py
Mutil_RAG_v3.ipynb